mixin subscribe(containerClass)
	- let icons = ['facebook', 'instagram', 'youtube', 'comments']

	.relative.isolate.overflow-hidden.bg-gray-900.py-10(class='lg:py-28')
		img.absolute.inset-0.-z-10.h-full.w-full.object-cover(
			src=require('@/assets/images/subscribe-bg.png'),
			alt='banner',
			class='md:object-center'
		)

		div(class=containerClass)
			.max-w-xl.mx-auto(class='lg:max-w-lg')
				h2.font-notoSans.mb-6.text-lg.font-black.tracking-tight.text-white.italic.uppercase(class='lg:text-2xl') Want the latest news?
				p.font-notoSans.mb-6.text-base.text-white(class='lg:mb-11')
					| Get exclusive betting news and the latest odds from top-rated sportsbooks, straight to your inbox and social feeds.

				form#subscribe-form.flex.flex-col.relative.mb-8(class='lg:flex-row')
					label.font-notoSans.sr-only(for='subscribe-email-address') Email address
					input#subscribe-email-address.font-notoSans.min-w-0.flex-auto.rounded-lg.border-0.py-5.text-dark.shadow-sm.ring-1.ring-inset.ring-gray-300(
						name='email',
						type='email',
						autocomplete='email',
						required='',
						class='placeholder:text-grizzly pl-3.5 pr-50% focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6',
						placeholder='Enter your email'
					)

					.mt-8(class='lg:w-2/4 lg:absolute lg:-right-3 lg:mt-0')
						+button({ text: 'Subscribe', wrapperClass: 'w-full', id: "subscribe-btn" })

				ul.flex.mx-auto.w-fit.gap-x-10
					each icon in icons
						li.bg-white.h-10.w-10.rounded-full.flex.justify-center.items-center
							a.no-underline(href='#')
								img(src=require(`@/assets/icons/subscribe/${icon}.svg`), alt=icon)
