nav.relative.flex.h-20.items-center.justify-between
	.flex.flex-1.items-center.justify-between
		.flex.items-center(class='xl:flex-1')
			+logo

		.flex(class='xl:hidden')
			+hamburgerBtn

		ul.hidden(class='xl:flex xl:gap-x-5')
			each item in menuItems
				+menuItem(item)

			li.dropdown.group.relative.-mx-3.pt-2.lang-switcher(class='xl:m-0 xl:py-1')
				a.dropdown-toggle.font-notoSans.flex.justify-between.items-center.gap-x-1.text-white.duration-200.rounded-lg.font-bold.text-sm.rounded-none.w-auto.uppercase(
					href='#',
					aria-expanded='false',
					class='hover:bg-transparent hover:text-grizzly'
				)
					svg.dropdown-arrow.h-5.w-5.flex-none.duration-200(
						class='xl:group-hover:rotate-180',
						viewbox='0 0 20 20',
						fill='currentColor',
						aria-hidden='true'
					)
						path(
							fill-rule='evenodd',
							d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z',
							clip-rule='evenodd'
						)

				ul.dropdown-menu.absolute.-left-2.top-full.z-10.mt-0.w-max.max-w-md.overflow-hidden.rounded-xl.bg-white.shadow-lg.ring-1.invisible.p-2(
					class='ring-gray-900/5 group-hover:visible [&>*:hover]:text-dark-grizzly'
				)

		.hidden(class='xl:flex xl:flex-1 xl:justify-end')
			+authBtn
