mixin hamburgerBtn
	button.hamburger-btn.inline-flex.items-center.justify-center.rounded-md.text-gray-700(type='button', class='-m-2.5 p-2.5')
		span.font-notoSans.sr-only Open main menu
		svg.h-8.w-8.text-primary(
			fill='none',
			viewbox='0 0 24 24',
			stroke-width='1.5',
			stroke='currentColor',
			aria-hidden='true'
		)
			path(stroke-linecap='round', stroke-linejoin='round', d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5')
